*{
    font-family: 'Roboto Slab', serif;    
}

html,body{
    height: 100%;
}

.background-topo{
    padding: 20px;
    background: #8fbdbd;
}

.background-sobre{
    padding: 20px;
    background: #53a3c2;
}

.legenda-profile-picture{
    margin-top:10px;
    margin-bottom:0px;
    padding-bottom: 5px;
    font-size: 25px;
    font-weight: bolder;
}

.btn-link-perfil{
    z-index: 10000;
    padding-left: 50px !important;
    padding-right: 50px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.alinha-botao-setor{
    margin-top: 10px;
    margin-bottom:-20px;
}

.h1-projetos{
    color: #FFF;
}

.list-item{
    list-style: none;
    margin-left: 20px;
}

.list-item a{
    // font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    text-decoration: none;
    color:#FFF;
}

.progress-personalidade{

}

.progress-bar-starwars{
    background: #757575 !important;
}

.typewriter p {
  max-width: 200px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}